
.axis {
  fill: none;
  stroke: #888;
  stroke-width: 1.5px;
}

.interval {
  fill: none;
  stroke: #aaa;
  stroke-width: 1.5px;
  stroke-dasharray: 2,6;
}

.arrow {
  fill: none;
  stroke: #888;
  stroke-width: 1.5px;
  /* stroke-dasharray: 2,6; */
}

.match {
  fill: none;
  /* stroke: #888; */
  stroke-width: 1.5px;
  stroke-dasharray: 4,6;
  stroke: #8F2C1B;
}
