body {
  font-family: 'Open Sans', sans-serif;
}

#title_name {
  color: #777;
}

#track_count {
  color: #777;
}

#tag_count {
  color: #777;
}

.love {
  color: #e377c2;
}

#search_user {
  display: none;
  background-color: #fff;
  border:none;
  border-bottom: 1px solid #000;
  margin-top: -5px;
  width: 140px;
}

#change_nav {
  float:right;
  height: 30px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #999;
  /* border-radius: 15px; */
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

#change_nav a {
  color: white;
}

.node circle {
  cursor: pointer;
  stroke: #fff;
  stroke-width: .5px;
  fill: #888;
}

.inline_node {
  stroke: #fff;
  stroke-width: .5px;
  fill: #888;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.tag_link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 2.5px;
}

.tag {
  stroke: #000;
  stroke-width: 0px;
}

.tag_title {
  font-weight: 700; 
  font-size: 20px;
}

.diff {
  font-weight: 700; 
}

.rank_title {
  font-weight: 700; 
}

#circle_selector {
  float:right;
  margin-top: -10px;
}

#favorite_desc {
  float:left;
}


.connector {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 3.5px;
  stroke-linecap: round;
  stroke-dasharray: 2,7
}

.dot {
  /* cursor: pointer; */
  fill: steelblue;
  /* stroke: #fff; */
  /* stroke-width: .5px; */
  /* fill: #888; */
}

.artist {
  /* cursor: pointer; */
}

line.baseline {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 3.5px;
  stroke-linecap: round;
}

#footer p {
  text-align: center;
}
